//Foundation

//Color-palette
$maincolor : #49ADC6;
$lightmaincolor : #D1E0B4;
$seclightcolor : #cee89b;
$darkmaincolor : #1A758F;
$secdarkcolor : #142746;
$asdf: #134432;
//Apologized device display res
$xlarge : 1440px;
$large : 1280px;
$medium : 1024px;
$small : 800px;
$xsmall : 640px;

//first head-to-head website`s look setup
//setting up layout classes
html, body {
    background: linear-gradient(to bottom,$darkmaincolor,#88a9ff)
} 

.button{
    padding: .8em;
    color: $lightmaincolor;
    width: 20%

}

.dialog{

}